[Unit]
Description=Apache ZooKeeper
After=syslog.target network.target

[Service]
Type=forking
User={{ zk_user }}
Group={{ zk_group }}
ExecStart=/opt/zookeeper/bin/zkServer.sh start
ExecStop=/opt/zookeeper/bin/zkServer.sh stop
KillMode=none

[Install]
WantedBy=multi-user.target
